<div id="barba-wrapper" class="wrapper">
  <div class="barba-container page-transition" data-namespace="denholm">
    <div class="page-transition__wrap">
      <div class="page-transition__logo"><a href="#" class="js-change-page denholm-logo" data-page-name="home" data-page-trans="slide-in-from-bottom">denHolm</a></div>
      <div class="page-transition__nav">
        <div class="js-change-page what nav" data-page-name="what" data-page-trans="slide-in-from-right">What?</div>
        <div class="js-change-page objects nav" data-page-name="objects" data-page-trans="slide-in-from-bottom">Objects</div>
        <div class="js-change-page commissions nav" data-page-name="commissions" data-page-trans="slide-in-from-left">Commissions</div>
      </div>
      <div class="page-transition__footer">
        <div class="container">
          <div class="page-transition__footer__inner">
            <div class="js-change-page nav" data-page-name="enquiries" data-page-trans="slide-in-from-top">Enquiries</div>
            <div class="instagram"><a href="https://www.instagram.com/" target="_blank">Instagram</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-transition__content">
      <div class="screen">
        <div>
          <div class="page-transition__item" data-jquery-page-name="home">
            <div class="content-inner">
            {% include 'denholm-home.twig' %}
            </div>
          </div>
          <div class="page-transition__item" data-jquery-page-name="commissions">
            <div class="content-inner">
                {% include 'commissions.twig' %}
            </div>
          </div>
          <div class="page-transition__item" data-jquery-page-name="objects">
            <div class="content-inner">
                {% include 'objects.twig' %}
            </div>
          </div>
          <div class="page-transition__item" data-jquery-page-name="enquiries">
            <div class="content-inner">
                {% include 'enquiries.twig' %}
            </div>
          </div>
          <div class="page-transition__item" data-jquery-page-name="what">
            <div class="content-inner">
                {% include 'what.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
