# Add any directories, files, or patterns you don't want to be tracked by version
.well-known
/.htaccess
__MACOSX
/stats
cgi-bin
error_log
/wp-config.php
cache
/robots.txt
backups
/wp-content/updraft
/wp-content/uploads
wp-content/uploads
wp-content/plugins/contact-form-7-extras/
wp-content/plugins/contact-form-cfdb7/
wp-content/plugins/woocommerce-multilingual/
