.box-product {
  @include susy-media(tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products {
    margin-bottom: 0;
  }

  &__item {
    margin: 0 0 41px!important;
    text-align: center;

    @include susy-media(tablet) {
      float: left;
      width: 33.33%;
      // margin-right: 108px;
      // max-width: 190px;
      padding: 0 15px;
      margin: 10px 0 !important;
    }

    @include susy-media(desktop) {
      padding: 0 35px;
    }

    @include susy-media(desktopSuperwide) {
      margin: 0 100px 54px 0 !important;
      max-width: 268px;
      padding: 0;

      &:nth-child(3n) {
        margin-right: 0 !important;
      }
    }

    &:nth-child(3n + 1) {
      clear: both;
    }
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    margin-top: -24px;
    margin-bottom: 21px;

    @include susy-media(desktopSuperwide) {
      font-size: 37.5px;
      margin-top: -27px;
      margin-bottom: 16px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16.67px;

    @include susy-media(desktopSuperwide) {
      font-size: 18.75px;
    }

    a {
      background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
      width: 14px;
      height: 14px;
      background-size: 100% auto;
      font-size: 0;
      padding: 0;
      margin: 0;
      display: inline-block;
      margin-left: 8px;
      cursor: pointer;

      @include susy-media(desktopSuperwide) {
        width: 16px;
        height: 16px;
        margin-left: 12px;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        content: '';
      }
    }
  }
}

.view-cart {
  margin-bottom: 25px;
  text-align: right;
}
