.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 8;
  width: 16px;
  height: 16px;
  text-indent: 0;
  border: 0;
  min-width: inherit;
  padding: 0;
  margin: 0;
  font-size: 0;
  color: transparent;

  @include susy-media(tablet) {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: transparent;
  }
}

.slick-next {
  right: -28px;
  background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
  background-size: 100% auto;

  @include susy-media(mobileLanscape) {
    right: -35px;
  }

  @include susy-media(desktopWide) {
    right: -75px;
  }
}

.slick-prev {
  left: -28px;
  background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
  background-size: 100% auto;

  @include susy-media(mobileLanscape) {
    left: -35px;
  }

  @include susy-media(desktopWide) {
    left: -75px;
  }
}

.box-slide {
  position: relative;

  @include susy-media(mobileLanscape) {
    padding: 0 10px;
  }

  @include susy-media(tablet) {
    padding: 0 23px;
  }

  .slick-track {
    width: 2000px;
  }

  &__item {
    float: left;
    text-align: center;
    opacity: 0;
    text-align: center;

    &:first-child,
    &.slick-slide {
      opacity: 1;
    }

    img {
      display: inline-block !important;

      @include susy-media(tablet) {
        max-height: 495px;
        height: 100%;
        width: auto;
      }

      @include susy-media(mobileOnly) {
        width: 100%;
        height: auto;
      }
    }
  }

  &.has-info {
    .box-slide {
      padding: 0 85px;
    }

    img {
      @include susy-media(tablet) {
        max-height: 495px;
        height: 100%;
        width: auto;
      }

      // @include susy-media(desktopSuperwide) {
      //   max-height: inherit;
      //   max-width: 322px;
      // }
    }

    .box-info {
      margin-top: 30px;

      @include susy-media(tablet) {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 0;
      }

      @include susy-media(desktop) {
        left: -50px;
      }

      @include susy-media(desktopSuperwide) {
        left: -150px;
      }

      &__item {
        margin-bottom: 0;
      }
    }
  }
}
