.box-slide-content {
  max-width: 600px;
  margin: 0 auto;

  @include susy-media(mobileLanscape) {
    padding: 0 10px;
  }

  @include susy-media(tablet) {
    padding: 0 30px;
  }

  @include susy-media(desktop) {
    padding: 0;
  }

  @include susy-media(desktopSuperwide) {
    max-width: inherit;
  }

  &__item {
    position: relative;

    @include susy-media(tablet) {
      display: flex !important;
      align-items: center;
    }

    @include susy-media(desktop) {
      min-width: 600px;
    }

    @include susy-media(desktopSuperwide) {
      left: 1px;
    }

    h2 {
      @include susy-media(mobileOnly) {
        position: absolute;
        top: 0;
        left: 50%;
        font-size: 40px;
        transform: translate(-50%, 0);
        min-width: 70%;
        font-size: 32px;
      }

      @include susy-media(tablet) {
        font-size: 24px;
        position: absolute;
        left: 142px;
        right: 0;
        text-align: center;
        top: 25%;
      }

      @include susy-media(desktop) {
        left: 81px;
      }

      @include susy-media(desktopSuperwide) {
        left: 240px;
        font-size: 33.33px;
        top: 36%;
      }
    }
  }

  &__body {
    @include susy-media(tablet) {
      width: 150px;
      margin-left: 30px;
      margin-top: 60px;
    }

    @include susy-media(desktop) {
      margin-left: 67px;
    }

    @include susy-media(desktopSuperwide) {
      margin-left: 98px;
      width: 180px;
      margin-top: 214px;
    }
  }

  &__image {
    line-height: 0;

    @include susy-media(mobileOnly) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  img {
    width: 100%;
    height: auto;

    @include susy-media(tablet) {
      max-width: 340px;
    }

    @include susy-media(desktopSuperwide) {
      max-width: 524px;
    }

    @media(min-height:1080px) and (min-width: 1600px) {
      max-width: 554px;
    }
  }
}
