.box-form {
  @include susy-media(mobileOnly) {
    margin-top: 17px;
  }

  @include susy-media(desktopSuperwide) {
    width: 100%;
  }

  form {
    position: relative;
  }

  p {
    margin: 0;
  }

  .screen-reader-response {
    width: 100%!important;
    height: auto!important;
    position: relative!important;
    text-align: center!important;
    margin-bottom: 20px !important;

    ul {
      display: none;
    }
  }
}
