.box-slide-content {
  max-width: 600px;
  margin: 0 auto;

  @include susy-media(mobileLanscape) {
    padding: 0 10px;
  }

  @include susy-media(tablet) {
    padding: 0 30px;
  }

  @include susy-media(desktop) {
    padding: 0;
  }

  &__item {
    position: relative;

    @include susy-media(tablet) {
      display: flex !important;
      align-items: center;
    }

    @include susy-media(desktop) {
      min-width: 600px;
    }

    h2 {
      @include susy-media(mobileOnly) {
        position: absolute;
        top: 0;
        left: 50%;
        font-size: 40px;
        transform: translate(-50%, 0);
      }

      @include susy-media(tablet) {
        font-size: 24px;
      }
    }
  }

  &__body {
    @include susy-media(tablet) {
      width: 30%;
      margin-left: 30px;
      max-width: 150px;
    }

    @include susy-media(desktop) {
      margin-left: 67px;
    }
  }

  &__image {
    line-height: 0;

    @include susy-media(mobileOnly) {
      margin-top: 25px;
      margin-bottom: 30px;
    }
  }

  img {
    @include susy-media(tablet) {
      max-width: 340px;
    }

    @include susy-media(desktopSuperwide) {
      max-width: 395px;
    }
  }
}
