.box-product {
  @include susy-media(tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products {
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 37px !important;
    text-align: center;

    @include susy-media(tablet) {
      float: left;
      width: 33.33%;
      // margin-right: 108px;
      // max-width: 190px;
      padding: 0 15px;
      margin-bottom: 20px !important;
    }

    @include susy-media(desktop) {
      padding: 0 35px;
    }

    @include susy-media(desktopSuperwide) {
      margin-bottom: 37px !important;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(3n + 1) {
      clear: both;
    }

    @include susy-media(mobileOnly) {
      &:last-child {
        margin-bottom: 0!important;
      }
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-top: -21px;
    margin-bottom: 8px;

    // @include susy-media(desktopSuperwide) {
    //   font-size: 37.5px;
    //   font-weight: 700;
    //   margin-top: -30px;
    // }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    a {
      background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
      width: 12px;
      height: 12px;
      background-size: 100% auto;
      font-size: 0;
      padding: 0;
      margin: 0;
      display: inline-block;
      margin-left: 8px;
      cursor: pointer;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        content: '';
      }

      // @include susy-media(desktopSuperwide) {
      //   width: 20px;
      //   height: 20px;
      // }
    }
  }

}
