.form-enquiries {
  &__left,
  &__right {
    @include susy-media(tablet) {
      width: 50%;
      float: left;
      padding: 0 20px;
    }

    @include susy-media(desktop) {
      padding: 0 50px;
    }
  }

  .form-wrap {
    width: 100%;
    clear: both;
  }
}


.time-local {
  text-align: center;
  font-weight: 700;

  @include susy-media(mobileOnly) {
    margin-bottom: 30px;
    padding: 0 30px;
  }

  @include susy-media(tablet) {
    margin-bottom: 50px;
  }

  @include susy-media(desktop) {
    margin-bottom: 75px;
  }
}
