.landing {
  @include susy-media(tablet) {
    display: flex;
  }

  &__left {
    @include susy-media(tablet) {
      width: 50%;
    }
  }

  &__right {
    width: 50%;

    @include susy-media(mobileOnly) {
      display: none;
    }
  }

  .ms-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include susy-media(mobileOnly) {
      padding: 46px 0;
      min-height: 200px;
    }

    @include susy-media(tablet) {
      height: 100vh;
    }

    &.ms-table {
      display: table;
    }
  }

  h1 {
    line-height: 1;
  }

  h2 {
    line-height: 1.3;
    font-size: 36px;

    @include susy-media(mobileLanscape) {
      font-size: 46px;
    }

    @include susy-media(desktop) {
      font-size: 50px;
    }
  }

  h3 {
    line-height: 1.3;
    font-size: 21px;

    @include susy-media(mobileLanscape) {
      font-size: 30px;
    }

    @include susy-media(desktop) {
      font-size: 35px;
    }
  }

  a {
    color: $white;
  }
}

.group-content {
  position: relative;
  display: inline-block;
  color: $white;
  z-index: 8;

  &.with-image {
    padding-top: 67px;

    @include susy-media(tablet) {
      padding-top: 55px;
    }

    @include susy-media(desktop) {
      padding-top: 85px;
    }

    @include susy-media(mobilePortraitOnly) {
      padding-top: 52px;
    }

    &:hover {
      img {
        opacity: .7;
      }
    }

    img {
      max-width: 200px;

      @include susy-media(480px) {
        max-width: 255px;
      }

      @include susy-media(desktop) {
        max-width: 326px;
      }
    }

    .title--bottom {
      position: absolute;
      top: 0;
      transform: translate(-50%, 0);
      left: 50%;
      line-height: 1.5;
      z-index: 1;

      @include susy-media(mobileOnly) {
        font-size: 50px;
        color: $text-color;
      }

      @include susy-media(mobilePortraitOnly) {
        font-size: 40px;
      }

      @include susy-media(desktop) {
        font-size: 62px;
      }

      &:before {
        bottom: 8px;
        width: 70px;

        @include susy-media(mobileOnly) {
          border-color: $pink;
        }

        @include susy-media(desktop) {
          width: 103px;
        }
      }
    }

    .title--center {
      position: absolute;
      top: 47%;
      left: 23px;
      transform: translate(0, -50%);
      line-height: 1;
      z-index: 1;
      font-size: 48px;

      @include susy-media(tablet) {
        top: 48%;
        left: 18px;
      }

      @include susy-media(desktop) {
        font-size: 62px;
      }

      @include susy-media(mobilePortraitOnly) {
        font-size: 40px;
        left: 20px;
      }

      &:before {
        left: -75px;
        width: 112px;
        margin-top: -15px;

        @include susy-media(mobilePortraitOnly) {
          width: 70px;
          left: -40px;
        }
      }
    }

    .link-more {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      font-size: 0;
      color: transparent;
    }
  }

  .box-info {
    position: absolute;
    bottom: -193px;
    right: -83px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    min-width: 274px;

    @include susy-media(mobileOnly) {
      font-size: 20px;
      z-index: 4;
      position: relative;
      right: 0;
      bottom: 0;
      width: 245px;
      margin: 0 auto;
      margin-top: 167px;
    }

    @include susy-media(mobilePortraitOnly) {
      font-size: 16px;
      margin-left: 50px;
      margin-top: 100px;
    }

    &:before {
      content: "*";
      position: absolute;
      left: -30px;
      top: -5px;
      color: red;
      width: 10px;
      height: 10px;
      font-size: 34px;
      font-weight: 700;

      @include susy-media(mobileOnly) {
        font-size: 42px;
      }
    }

    b {
      font-size: 12px;
      margin-top: 21px;
      display: block;
    }
  }
}


.ms-left {
  position: relative;
  z-index: 999;

  .group-content.with-image .title--center:before {
    border-color: $yellow;
  }

  .ms-section {
    position: relative;

    @include susy-media(mobileOnly) {
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5) {
        position: relative;
        background: red;

        &:after {
          content: '';
          background: url('../images/line-mobile.png') no-repeat scroll top left transparent;
          position: absolute;
          width: 100%;
          height: 130px;
          background-size: auto 100%;
          bottom: -80px;
          left: 0;
          z-index: 7;

          @include susy-media(600px) {
            height: 180px;
          }
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        background-color: $white !important;
      }

      &:nth-child(3) {
        padding-top: 118px;
        padding-bottom: 100px;

        &:after {
          background-position: top center;
          bottom: -30px;
        }
      }

      &:nth-child(4) {
        padding-bottom: 102px;
      }

      &:nth-child(5) {
        padding-top: 180px;
        overflow: hidden;

        &:after {
          background-position: 140% 0;
          bottom: 70px;

          @include susy-media(mobilePortraitOnly) {
            background-position: 115% 0;
          }
        }
      }

      &:nth-child(6) {
        padding-bottom: 180px;
      }
    }

    &:before {
      background-size: auto 100%;
      background-position: 0 center;
      position: absolute;
      right: -68px;
      top: 0;
      bottom: 0;
      width: 232px;
      height: 100%;
      content: '';

      @include susy-media(mobileOnly) {
        display: none;
      }

      @include susy-media(desktopSuperwide) {
        right: -75px;
      }
    }

    &:nth-child(1) {

      .group-content {
        padding-top: 0;

        @include susy-media(tablet) {
          padding-top: 45px;
        }
      }

      &:before {
        background: url('../images/line1.png') no-repeat scroll 0 0 transparent;
      }
    }

    &:nth-child(2) {
      &:before {
        background: url('../images/line2.png') no-repeat scroll 0 0 transparent;
        right: -185px;

        @media screen
        and (min-device-width: 1200px)
        and (max-device-width: 1600px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (min-resolution: 192dpi) {
          right: -189px;
        }

        @include susy-media(desktopSuperwide) {
          right: -184px;
        }
      }
    }

    &:nth-child(3) {
      &:before {
        background: url('../images/line3.png') no-repeat scroll 0 46% transparent;
        right: -89px;

        @media screen
        and (min-device-width: 1200px)
        and (max-device-width: 1600px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (min-resolution: 192dpi) {
          right: -113px;
        }

        @include susy-media(desktopSuperwide) {
          right: -79px;
        }
      }
    }
  }
}

.ms-right {
  .group-content.with-image {
    .title--bottom {
        color: $text-color;

        &:before {
          border-color: $pink;
        }
      }
  }
}

.next-page {
  .arrow-btn {
    text-indent: -999em;
    font-size: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9999;
    margin-top: -10px;

    @include susy-media(mobileOnly) {
      position: absolute;
    }

    a {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  .arrow-left {
    background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    left: 15px;

    @include susy-media(mobileOnly) {
      top: 200px;
      left: 20px;
    }

    @include susy-media(mobilePortraitOnly) {
      top: 167px;
    }
  }

  .arrow-right {
    background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    right: 15px;

    @include susy-media(mobileOnly) {
      top: 700px;
      right: 20px;
    }

    @include susy-media(mobilePortraitOnly) {
      top: 583px;
    }
  }
}

// Page Transitions.
.landing {
  position: relative;
  transition: .5s;
  z-index: 2;
}
.page-ajaxload {
  transition: .5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.sjc-start {
  .landing {
    transition: .5s;
    left: 0;
  }

  .page-ajaxload {
    left: 100%;
    transition: .5s;
  }
}

.sjc-loaded {
  .landing {
    transition: .5s;
    left: -100%;
  }

  .page-ajaxload {
    left: 0;
    transition: .5s;
  }
}



.denholm-start {
  .landing {
    transition: .5s;
    right: 0;
  }

  .page-ajaxload {
    right: 100%;
    transition: .5s;
  }
}

.denholm-loaded {
  .landing {
    transition: .5s;
    right: -100%;
  }

  .page-ajaxload {
    right: 0;
    transition: .5s;
  }
}

.denholm-loaded,
.sjc-loaded {
  .next-page {
    display: none;
  }
}
