.content-inner .object-specific {
  display: flex;
  flex-wrap: wrap;

  @include susy-media(mobileOnly) {
    margin-bottom: 30px;
  }

  @include susy-media(tablet) {
    align-items: center;
  }

  &__content {
    @include susy-media(mobileOnly) {
      width: 100%;
      order: 2;

      .back-link  {
        display: none;
      }
    }

    @include susy-media(tablet) {
      width: 46%;
      margin-right: 57px;
    }
  }

  &__gallery {
    @include susy-media(mobileOnly) {
      width: 100%;
      order: 1;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: auto;
      }
    }

    @include susy-media(tablet) {
      width: 41%;

      img {
        // max-height: 380px;
      }

      .back-link  {
        display: none;
      }
    }

    img {
      height: auto;
      width: calc(100% - 1px);
      position: relative;
      right: -1px;
    }

    .slick-slide { height: auto; }
  }

  &__quantity {
    input[type='number'] {
      background: none;
      border: 1px solid #303030;
      padding: 3px;
      min-width: inherit;
      width: 24px;
      height: 24px;
      margin-left: 27px;
      text-align: center;
    }

    form {
      display: flex;
      align-items: center;

      > div {
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }

    .form-wrapper {
      margin-left: 30px;
    }

    .add_to_cart_inline {
      border: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      position: relative;
    }

    a.button {
      @extend %btn;
      padding: 8px 15px;

      & + a {
        @include susy-media(tablet) {
          margin-left: 10px;
          position: absolute;
          right: -60px;
          top: 50%;
          margin-top: -12px;
        }

        @include susy-media(mobileOnly) {
          margin-left: 0;
          position: absolute;
          left: 50%;
          bottom: -20px;
          margin-top: 0;
          width: 100%;
          transform: translate(-50%, 0);

        }
      }
    }

    .woocs_price_code {
      display: none;
    }
  }

  &__group {
    text-align: center;
    margin-top: -21px;
    position: relative;
  }

  &__body {
    margin-bottom: 30px;
    clear: both;

    @include susy-media(desktop) {
      margin-bottom: 60px;
    }

    @include susy-media(desktopSuperwide) {
      margin-bottom: 115px;
    }
  }

  &__title {
    font-size: 38px;
    margin-bottom: 20px;

    @include susy-media(tablet) {
      margin-bottom: 14px;
      font-size: 42px;
    }
  }

  .price {
    font-size: 17px;

    @include susy-media(tablet) {
      font-size: 18px;
    }
  }

  .slick-prev {
    display: none !important;
  }
}

.back-link {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 30px;
}
