.object-specific {
  display: flex;
  flex-wrap: wrap;

  &__content {
    @include susy-media(mobileOnly) {
      width: 100%;
      order: 2;

      .back-link  {
        display: none;
      }
    }

    @include susy-media(tablet) {
      width: 46%;
      margin-right: 57px;
    }
  }

  &__gallery {
    @include susy-media(mobileOnly) {
      width: 100%;
      order: 1;
      margin-bottom: 30px;
    }

    @include susy-media(tablet) {
      width: 41%;

      img {
        max-height: 380px;
      }

      .back-link  {
        display: none;
      }
    }

    @include susy-media(desktopSuperwide) {
      img {
        max-height: inherit;
        max-width: 323px;
      }
    }
  }

  &__quantity {
    input[type='number'] {
      background: none;
      border: 1px solid #303030;
      padding: 3px;
      min-width: inherit;
      width: 24px;
      height: 24px;
      margin-left: 27px;
      text-align: center;
    }

    form {
      display: flex;
      align-items: center;

      > div {
        margin-bottom: 0;
      }
    }

    .form-wrapper {
      margin-left: 30px;
    }
  }

  &__group {
    text-align: center;
    margin-top: -21px;
    position: relative;
  }

  &__body {
    margin-bottom: 40px;
    clear: both;

    @include susy-media(tablet) {
      margin-bottom: 60px;
    }

    @include susy-media(desktopSuperwide) {
      margin-bottom: 115px;
    }
  }

  &__title {
    margin-bottom: 14px;
    font-size: 42px;
  }

  .price {
    font-size: 18px;
  }

  .slick-prev {
    display: none !important;
  }
}

.back-link {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 30px;
}
