.content-inner .object-specific {
  @extend %clearfix;

  @include susy-media(mobileOnly) {
    margin-bottom: 30px;
  }

  @include susy-media(tablet) {
    // align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  @include susy-media(desktopSuperwide) {
    width: 100%;
  }

  &__content {
    @include susy-media(mobileOnly) {
      width: 100%;

      .link-group {
        display: none;
      }
    }

    @include susy-media(tablet) {
      width: 46%;
      margin-right: 57px;
      order: 1;
    }

    @include susy-media(desktopSuperwide) {
      margin-right: 62px;
    }
  }

  &__gallery {
    @include susy-media(mobileOnly) {
      width: 100%;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: auto;
      }
    }

    @include susy-media(tablet) {
      width: 41%;
      order: 2;

      .link-group {
        display: none;
      }
    }

    @include susy-media(desktopSuperwide) {
      width: 40%;
    }

    img {
      height: auto;
      width: calc(100% - 1px);
      position: relative;
      right: -1px;
    }

    .slick-slide { height: auto; }
  }

  &__quantity {
    input[type='number'] {
      background: none;
      border: 1px solid #303030;
      padding: 3px;
      min-width: inherit;
      width: 24px;
      height: 24px;
      margin-left: 27px;
      text-align: center;

      @include susy-media(desktopSuperwide) {
        width: 30px;
        height: 30px;
      }
    }

    form {
      display: flex;
      align-items: center;

      > div {
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }

    .form-wrapper {
      margin-left: 30px;
    }

    .add_to_cart_inline {
      border: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      position: relative;
    }

    a.button {
      @extend %btn;
      padding: 8px 15px;
      font-weight: 400;

      & + a {
        @include susy-media(tablet) {
          margin-left: 10px;
          position: absolute;
          right: -60px;
          top: 50%;
          margin-top: -12px;
        }

        @include susy-media(mobileOnly) {
          margin-left: 0;
          position: absolute;
          left: 50%;
          bottom: -20px;
          margin-top: 0;
          width: 100%;
          transform: translate(-50%, 0);
        }

        @include susy-media(desktopSuperwide) {
          right: -85px;
          margin-top: -18px;
        }
      }
    }

    .woocs_price_code {
      display: none;
    }

    label {
      font-weight: 400;
    }
  }

  &__group {
    text-align: center;
    margin-top: -21px;
    position: relative;

    @include susy-media(desktopSuperwide) {
      margin-top: -34px;
    }
  }

  &__body {
    margin-bottom: 30px;
    clear: both;

    @include susy-media(desktop) {
      margin-bottom: 60px;
    }

    @include susy-media(desktopSuperwide) {
      margin-bottom: 200px;
    }
  }

  &__title {
    font-size: 38px;
    margin-bottom: 20px;

    @include susy-media(tablet) {
      margin-bottom: 14px;
      font-size: 42px;
    }

    @include susy-media(desktopSuperwide) {
      font-size: 59.03px;
      margin-bottom: 20px;
    }
  }

  .price {
    font-size: 17px;

    @include susy-media(tablet) {
      font-size: 18px;
    }

    @include susy-media(desktopSuperwide) {
      font-size: 25px;
    }
  }

  .slick-prev {
    display: none !important;
  }
}

.link-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  font-size: 15px;

  @include susy-media(tablet) {
    font-size: 16.67px;
  }

  @include susy-media(desktopSuperwide) {
    font-size: 20px;
    margin-bottom: 42px;
  }
}

.woocommerce {
  a.button,
  button.button {
    @extend %btn;
  }
}
