.page-transition {
  width: 100%;

  &.sjc-loaded,
  &.denholm-loaded {
    overflow: hidden;
  }

  .nav {
    background: none;

    @include susy-media(tablet) {
      list-style: none;
      position: fixed;
      top: 50%;
      // transform: translate(0, -50%);
      z-index: 9999;
      cursor: pointer;
      font-size: 24px;
      margin-top: -17px;

      span {
        padding: 4px 8px;
        line-height: .7;
        display: inline-block;
        position: relative;
        z-index: 4;
        min-width: 105px;
        text-align: center;

        &:before {
          content: '>';
          position: absolute;
          color: red;
          font-size: 24px;
          left: 50%;
          transform: rotate(270deg);
        }
      }

      &.objects,
      &.top,
      &.collaborations {
        position: fixed;
        top: 57px;
        left: 50%;
        transform: translate(-50%, 0);

        span:before {
          top: -30px;
          margin-left: -2px;
        }
      }

      &.what,
      &.left {
        left: 18px;
        transform: rotate(-90deg);
        background: none;

        span:before {
          top: -32px;
          margin-left: -8px;
        }
      }

      &.bio {
        left: 35px;
        transform: rotate(-90deg);

        @include susy-media(tablet) {
          left: 25px;
        }

        @include susy-media(desktop) {
          left: 35px;
        }

        span {
          min-width: 70px;

          &:before {
            top: -32px;
            margin-left: -8px;
          }
        }
      }

      &.commissions,
      &.right {
        right: -15px;
        transform: rotate(-90deg);

        span:before {
          top: 38px;
          transform: rotate(-270deg);
          margin-left: -8px;
        }
      }

      &.exhibit {
        right: 20px;
        transform: rotate(-90deg);

        @include susy-media(tablet) {
          right: 3px;
        }

        @include susy-media(desktop) {
          right: 18px;
        }

        span:before {
          top: 38px;
          transform: rotate(-270deg);
          margin-left: -8px;
        }
      }
    }

    &.is-active {
      background: #f9f1f1;
    }
  }
  .arrow {
    text-indent: -999em;
    font-size: 0;
    width: 27px;
    height: 27px;
    display: inline-block;
    cursor: pointer;

    &:before {
      display: none;
    }

    &.is-active {
      background-color: transparent;
    }

    &.arrow-left {
      background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
      background-size: 100% auto;
      left: 30px;
    }

    &.arrow-right {
      background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
      background-size: 100% auto;
      right: 30px;
    }
  }

  &__logo {
    @include susy-media(mobileOnly) {
      display: none;
    }
  }

  &__nav {
    text-transform: uppercase;
    @include susy-media(mobileOnly) {
      width: 100%;
      margin-bottom: 50px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
    }

    .expand {
      &:after {
        @include susy-media(tablet) {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          content: '';
          height: 100px;
          z-index: 2;
        }
      }

      &:hover {
        ul {
          @include susy-media(tablet) {
            transition: .3s;
            top: -94px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      ul {
        font-size: 22px;
        color: $pink;
        text-transform: capitalize;

        @include susy-media(mobileOnly) {
          margin-top: 12px;
        }

        @include susy-media(tablet) {
          position: absolute;
          left: 42px;
          top: 0;
          transform: rotate(90deg);
          font-size: 12px;
          line-height: 1.4;
          color: #e1bbba;
          margin: 0;
          z-index: 1;
          transition: .3s;
          visibility: hidden;
          opacity: 0;

          &:before {
            position: absolute;
            content: '';
            left: 0px;
            top: -20px;
            display: inline-block;
            width: 90px;
            height: 120px;
          }
        }

        li {
          margin-bottom: 12px;
          position: relative;
          z-index: 2;
          min-width: 60px;
          text-align: center;

          @include susy-media(mobileOnly) {
            margin-bottom: 4px;
          }

          @include susy-media(tablet) {
            margin-bottom: 5px;

            &:before {
              content: '';
              position: absolute;
              right: -16px;
              width: 4px;
              height: 4px;
              background-color: #ed2024;
              top: 50%;
              margin-top: -2px;
            }
          }

          span {
            display: inline-block;
            padding: 0 5px;
            cursor: pointer;
            min-width: inherit;

            @include susy-media(mobileOnly) {
              font-size: 17px;
            }

            @include susy-media(tablet) {
              width: 100%;
              padding: 5px 10px;
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }

    @include susy-media(mobileOnly) {
      .nav {
        text-align: center;
        font-size: 28px;

        span {
          padding: 0 10px;
        }
      }

      li {
        margin-bottom: 36px;
      }
    }
  }

  &__inner {
    @include susy-media(mobileLandscapeOnly) {
      height: 100%;
    }
  }

  &__footer {
    @include susy-media(mobileOnly) {
      width: 100%;
    }

    @include susy-media(tablet) {
      position: fixed;
      bottom: 25px;
      right: 0;
      left: 0;
      z-index: 99;
    }

    @include susy-media(desktopSuperwide) {
      bottom: 40px;
    }

    &__inner {
      display: flex;
      align-items: center;
      z-index: 99;
      text-transform: uppercase;
      justify-content: flex-end;
      list-style: none;
      padding: 0;

      @include susy-media(mobileOnly) {
        justify-content: center;
      }
    }

    .instagram {
      font-size: 12px;
      margin-left: 20px;
      padding: 4px 13px;
      position: relative;
      font-weight: 500;
      margin-right: 10px;

      @include susy-media(mobileOnly) {
        font-size: 15px;
        margin-left: 40px;
      }

      &:before {
        position: absolute;
        content: '';
        background: url('../images/line.png') no-repeat scroll 0 0 transparent;
        left: -18px;
        bottom: -12px;
        width: 21px;
        height: 40px;
        background-size: 100% auto;

        @include susy-media(mobileOnly) {
          left: -34px;
          bottom: -14px;
          width: 30px;
          height: 53px;
        }
      }

      a {
        color: $text-color;
      }
    }

    .content-inner {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      margin: 0 auto;
    }

    .nav {
      margin-top: 0;
      position: relative;
      top: 0;
      transform: translate(0, 0);
      font-size: 12px;
      padding: 4px 13px;
      font-weight: 500;
      // display: none;

      @include susy-media(mobileOnly) {
        font-size: 15px;
      }

      span {
        min-width: inherit;

        &:before {
          display: none;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    position: relative;

    &.home {
      background-color: transparent;
    }

    &.denholm,
    &.sjc {
      @include susy-media(mobileOnly) {
        display: none;
      }
    }
  }

  &__menu {
    @include susy-media(mobileOnly) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #fff;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      z-index: 9;
      padding-top: 30px;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: .3s;

      &.is-show {
        opacity: 1;
        visibility: visible;
        transition: .3s;
      }
    }
  }

  &__menu-mobile {
    @include susy-media(tablet) {
      display: none;
    }

    .back-home {
      position: absolute;
      top: 32px;
      left: 30px;
      width: 80px;
      height: 7px;
      background-color: #e8d4a2;
      z-index: 9;
      cursor: pointer;

      &.span[data-page-name='denholm-mobile'] {
        background-color: $pink;
      }
    }

    .menu {
      position: absolute;
      top: 22px;
      right: 18px;
      font-size: 15px;
      z-index: 10;
      padding: 4px 30px;
      text-transform: uppercase;
      background: rgba(#edd6d6, .7);

      @include susy-media(tablet) {
        right: 24px;
      }

      &:before {
        content: "";
        top: 50%;
        left: 50%;
        background: url('../images/close.png') no-repeat scroll 0 0 transparent;
        background-size: 100% auto;
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translate(-50%, -50%);
        display: none;
      }

      &.is-show {
        width: 29px;
        height: 30px;
        font-size: 0;
        padding: 10px;

        &:before {
          display: block;
        }
      }
    }
  }

  &__link {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;

    @include susy-media(tablet) {
      display: none;
    }

    .red-button {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 15px;
    }

    span {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.content-inner {
  max-width: 750px;
  width: 100%;
  max-height: calc(100% - 60px);

  @include susy-media(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
  }

  @include susy-media(mobileOnly) {
    padding: 0 45px;
    max-height: calc(100% - 85px);
    margin-top: 50px;
    overflow-y: auto;
  }

  @include susy-media(mobilePortraitOnly) {
    padding: 0 35px;
  }

  @include susy-media(desktop) {
    padding: 0;
    max-width: 660px;
  }

  @include susy-media(desktopWide) {
    max-width: 750px;
  }

  @include susy-media(desktopSuperwide) {
    max-width: 788px;
    max-height: calc(100% - 100px);
  }
}

.main-content {
  .content-inner {
    overflow: auto;
    max-height: calc(100% - 60px);
  }
}

.bg-active {
  background: #f9f1f1;
}

.is-home {
  .back-home {
    display: none;
  }

  .back-to-home {
    display: block;
    z-index: 8;
  }
}

.back-to-home {
  display: none;
}

.denholm-loaded {
  .back-home {
    background-color: $pink;
  }
}
// 
// .jquery-page {
//   .showed {
//     display: flex !important;
//     top: -200%;
//     transition: .5s;
//     position: absolute;
//     z-index: 9;
//
//     &.show-in {
//       top: 0;
//       transition: .5s;
//       position: relative;
//     }
//   }
//
//   .object-specific {
//     // top: 0;
//     // transition: .5s;
//     // position: absolute;
//
//     &.show-out {
//       // top: 100%;
//       // transition: .5s;
//     }
//   }
// }
