.page-transition {
  width: 100%;

  &.sjc-loaded,
  &.denholm-loaded {
    overflow: hidden;
  }

  .nav {
    background: none;

    @include susy-media(tablet) {
      list-style: none;
      position: fixed;
      top: 50%;
      z-index: 9999;
      cursor: pointer;
      font-size: 24px;
    }

    @include susy-media(desktopSuperwide) {
      font-size: 33.42px;
    }

    span {
      @include susy-media(tablet) {
        padding: 4px 8px;
        line-height: .7;
        display: inline-block;
        position: relative;
        z-index: 4;
        min-width: 105px;
        text-align: center;
      }

      @include susy-media(desktopSuperwide) {
        min-width: 140px;
      }

      &:before {
        @include susy-media(tablet) {
          content: '>';
          position: absolute;
          color: red;
          font-size: 24px;
          left: 50%;
          transform: rotate(270deg);
        }

        @include susy-media(desktopSuperwide) {
          font-size: 35px;
        }
      }
    }

    &.objects,
    &.top,
    &.collaborations {
      @include susy-media(tablet) {
        position: fixed;
        top: 57px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      @include susy-media(desktopSuperwide) {
        top: 65px;
      }

      span:before {
        @include susy-media(tablet) {
          top: -30px;
          margin-left: -2px;
        }

        @include susy-media(desktopSuperwide) {
          top: -32px;
          margin-left: -5px;
        }
      }
    }

    &.what,
    &.left {
      @include susy-media(tablet) {
        left: 18px;
        transform: translate(0 , -50%) rotate(-90deg);
        background: none;
      }

      @include susy-media(desktopSuperwide) {
        left: 47px;
      }

      span:before {
        @include susy-media(tablet) {
          top: -32px;
          margin-left: -8px;
        }

        @include susy-media(desktopSuperwide) {
          top: -48px;
        }
      }
    }

    &.bio {
      @include susy-media(tablet) {
        left: 25px;
        left: 35px;
        transform: translate(0 , -50%) rotate(-90deg);
      }

      @include susy-media(desktop) {
        left: 35px;
      }

      @include susy-media(desktopSuperwide) {
        left: 64px;
      }

      span {
        @include susy-media(tablet) {
          min-width: 70px;
        }

        @include susy-media(desktopSuperwide) {
          min-width: 110px;
        }

        &:before {
          @include susy-media(tablet) {
            top: -32px;
            margin-left: -8px;
          }

          @include susy-media(desktopSuperwide) {
            top: -48px;
            margin-left: -12px;
          }
        }
      }
    }

    &.commissions,
    &.right {
      @include susy-media(tablet) {
        right: -15px;
        transform: translate(0 , -50%) rotate(-90deg);
      }

      @include susy-media(desktopSuperwide) {
        right: 3px;
      }

      span:before {
        @include susy-media(tablet) {
          top: 38px;
          transform: rotate(-270deg);
          margin-left: -8px;
        }

        @include susy-media(desktopSuperwide) {
          top: 60px;
        }
      }
    }

    &.exhibit {
      @include susy-media(tablet) {
        right: 3px;
        transform: translate(0 , -50%) rotate(-90deg);
      }

      @include susy-media(desktop) {
        right: 18px;
      }

      @include susy-media(desktopSuperwide) {
        right: 46px;
      }

      span:before {
        top: 38px;
        transform: rotate(-270deg);
        margin-left: -8px;

        @include susy-media(desktopSuperwide) {
          top: 57px;
        }
      }
    }

    &.is-active {
      background: #f9f1f1;
    }
  }

  .arrow {
    text-indent: -999em;
    font-size: 0;
    width: 27px;
    height: 27px;
    display: inline-block;
    cursor: pointer;

    &:before {
      display: none;
    }

    &.is-active {
      background-color: transparent;
    }

    &.arrow-left {
      background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
      background-size: 100% auto;
      left: 30px;
    }

    &.arrow-right {
      background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
      background-size: 100% auto;
      right: 30px;
    }
  }

  &__logo {
    @include susy-media(mobileOnly) {
      display: none;
    }
  }

  &__nav {
    text-transform: uppercase;
    @include susy-media(mobileOnly) {
      width: 100%;
      margin-bottom: 50px;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
    }

    .expand {
      &:after {
        @include susy-media(tablet) {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          content: '';
          height: 100px;
          z-index: 2;
        }
      }

      &:hover {
        ul {
          @include susy-media(tablet) {
            transition: top .3s;
            top: -94px;
          }

          @include susy-media(desktopSuperwide) {
            top: -110px;
          }
        }
      }
      ul {
        font-size: 22px;
        color: $pink;
        text-transform: capitalize;
        background-color: $white;

        @include susy-media(mobileOnly) {
          margin-top: 12px;
        }

        @include susy-media(tablet) {
          position: absolute;
          left: 42px;
          top: 200px;
          transform: rotate(90deg);
          font-size: 12px;
          line-height: 1.4;
          color: #e1bbba;
          margin: 0;
          z-index: 1;
          transition: top .3s;

          &:before {
            position: absolute;
            content: '';
            left: 0px;
            top: -20px;
            display: inline-block;
            width: 90px;
            height: 120px;
          }
        }

        @include susy-media(desktopSuperwide) {
          left: 55px;
          font-size: 16.67px;

          &:before {
            width: 110px;
          }
        }

        li {
          margin-bottom: 12px;
          position: relative;
          z-index: 2;
          min-width: 60px;
          text-align: center;

          @include susy-media(mobileOnly) {
            margin-bottom: 4px;
          }

          @include susy-media(tablet) {
            margin-bottom: 5px;

            &:before {
              content: '';
              position: absolute;
              right: -16px;
              width: 4px;
              height: 4px;
              background-color: #ed2024;
              top: 50%;
              margin-top: -2px;
            }
          }

          @include susy-media(desktopSuperwide) {
            min-width: 85px;
          }

          span {
            display: inline-block;
            padding: 0 5px;
            cursor: pointer;
            min-width: inherit;

            @include susy-media(mobileOnly) {
              font-size: 17px;
            }

            @include susy-media(tablet) {
              width: 100%;
              padding: 5px 10px;
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }

    @include susy-media(mobileOnly) {
      .nav {
        text-align: center;
        font-size: 28px;

        span {
          padding: 0 10px;
        }
      }

      li {
        margin-bottom: 36px;
      }
    }
  }

  &__inner {
    @include susy-media(mobileLandscapeOnly) {
      height: 100%;
    }
  }

  &__footer {
    @include susy-media(mobileOnly) {
      width: 100%;
    }

    @include susy-media(tablet) {
      position: fixed;
      bottom: 25px;
      right: 0;
      left: 0;
      z-index: 99;
    }

    @include susy-media(desktopSuperwide) {
      bottom: 60px;
    }

    &__inner {
      display: flex;
      align-items: center;
      z-index: 99;
      text-transform: uppercase;
      justify-content: flex-end;
      list-style: none;
      padding: 0;

      @include susy-media(mobileOnly) {
        justify-content: center;
      }
    }

    .instagram {
      font-size: 12px;
      margin-left: 20px;
      padding: 4px 13px;
      position: relative;
      margin-right: 10px;

      @include susy-media(mobileOnly) {
        font-size: 15px;
        margin-left: 40px;
      }

      @include susy-media(desktopSuperwide) {
        font-size: 18px;
        margin-left: 34px;
        margin-right: 0;
      }

      &:before {
        position: absolute;
        content: '';
        background: url('../images/footer-line.svg') no-repeat scroll 0 0 transparent;
        left: -18px;
        bottom: -12px;
        width: 21px;
        height: 40px;
        background-size: 100% auto;

        @include susy-media(mobileOnly) {
          left: -34px;
          bottom: -14px;
          width: 30px;
          height: 53px;
        }

        @include susy-media(desktopSuperwide) {
          left: -30px;
          width: 27px;
          height: 50px;
        }
      }

      a {
        color: $text-color;
      }
    }

    .content-inner {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      margin: 0 auto;
      padding: 0;
      height: auto;
      overflow: hidden;

      @include susy-media(desktopSuperwide) {
        left: 13px;
      }
    }

    .nav {
      margin-top: 0;
      position: relative;
      top: 0;
      transform: translate(0, 0);
      font-size: 12px;
      padding: 4px 13px;

      @include susy-media(mobileOnly) {
        font-size: 15px;
      }

      @include susy-media(desktopSuperwide) {
        font-size: 18px;
      }

      span {
        min-width: inherit;

        &:before {
          display: none;
        }
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    background-color: #fff;
    // background-color: gray;
    position: relative;


    @include susy-media(tablet) {
      align-items: center;
      height: 100vh;
      overflow: hidden;
    }

    &.home {
      background-color: transparent;
    }

    &.denholm,
    &.sjc {
      @include susy-media(mobileOnly) {
        display: none;
      }
    }

    &.sjc-mobile {
      height: 100vh;

      .content-inner {
        height: 100%;
        margin-top: 0;
        max-height: inherit;
      }
    }

    &.denholm-mobile {
      height: 100vh;
    }
  }

  &__menu {
    @include susy-media(mobileOnly) {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #fff;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      z-index: 99;
      padding-top: 50px;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: .3s;

      &.is-show {
        opacity: 1;
        visibility: visible;
        transition: .3s;
      }
    }
  }

  &__menu-mobile {
    @include susy-media(tablet) {
      display: none;
    }

    .back-home {
      position: fixed;
      top: 32px;
      left: 30px;
      width: 80px;
      height: 7px;
      background-color: #e8d4a2;
      z-index: 9;
      cursor: pointer;

      &.span[data-page-name='denholm-mobile'] {
        background-color: $pink;
      }
    }

    .menu {
      position: fixed;
      top: 22px;
      right: 18px;
      font-size: 15px;
      z-index: 10;
      padding: 4px 30px;
      text-transform: uppercase;
      background: rgba(#edd6d6, .7);
      z-index: 100;

      @include susy-media(tablet) {
        right: 24px;
      }

      &:before {
        content: "";
        top: 50%;
        left: 50%;
        background: url('../images/close.png') no-repeat scroll 0 0 transparent;
        background-size: 100% auto;
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translate(-50%, -50%);
        display: none;
      }

      &.is-show {
        width: 26px;
        height: 26px;
        font-size: 0;
        padding: 10px;

        &:before {
          display: block;
        }
      }
    }
  }

  &__link {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;

    @include susy-media(tablet) {
      display: none;
    }

    .red-button {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 15px;
      display: block;
    }

    span {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.content-inner {
  max-width: 670px;
  width: 100%;
  max-height: calc(100% - 60px);

  @include susy-media(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
  }

  @include susy-media(mobileOnly) {
    padding: 35px 42px 50px;
    max-height: calc(100vh - 100px);
    margin-top: 60px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @include susy-media(desktop) {
    padding: 0;
    max-width: 670px;
  }

  @include susy-media(desktopSuperwide) {
    max-width: inherit;
    margin-top: 0;
    width: 960px;
    height: 640px;
    // height: 587px;
  }

  @media(min-height:1000px) and (min-width: 1600px) {
    // height: calc(100% - 373px);
    width: 1060px;
    height: 707px;
  }
}

.main-content {
  .content-inner {
    height: auto;
    max-height: inherit;
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 30px;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    // max-height: calc(100% - 150px);
    //
    // @include susy-media(tablet) {
    //   margin-top: 50px;
    // }
    //
    // @include susy-media(desktopSuperwide) {
    //   // height: 900px;
    //   height: auto;
    //   max-height: inherit;
    //   margin-top: 0;
    // }
  }

  .wc-proceed-to-checkout {
    .checkout-button {
      margin-bottom: 0 !important;
    }
  }

  .woocommerce .wc-proceed-to-checkout a.button.alt{
    @extend %btn;
    width: 100%;
    padding: 12px 10px;
  }

  .woocommerce button.button.alt {
    @extend %btn;
    padding: 12px 25px;
  }
}

.bg-active {
  background: #f9f1f1;
}

.is-home {
  .back-home {
    display: none;
  }

  .back-to-home {
    display: block;
    z-index: 8;
  }
}

.back-to-home {
  display: none;
}

.denholm-loaded {
  .back-home {
    background-color: $pink;
  }
}

.woocommerce-cart,
.woocommerce-checkout,
.error404 {
  @include susy-media(mobileOnly) {
    overflow: auto;
  }

  .page-transition__logo {
    @include susy-media(mobileOnly) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      padding: 15px 40px;
      z-index: 100;
      width: 100%;
      background: $white;
    }

    a {
      @include susy-media(mobileOnly) {
        font-size: 40px;
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }

  .main-content {
    .content-inner {
      @include susy-media(mobileOnly) {
        padding-top: 90px;
        height: auto;
        max-height: inherit;
      }
    }
  }
}

.what,
.bio,
.sjc,
.enquiries {
  .content-inner {
    @include susy-media(desktop) {
      display: flex;
      align-items: center;
    }
  }
}

.objects {
  .content-inner {
    @include susy-media(desktopWide) {
      margin-top: 12px;
      height: 500px;
      overflow: hidden;
      width: 610px;
    }

    @media(min-height:768px) and (min-width: 1280px) {
      margin-top: 12px;
      height: 560px;
      width: 670px;
    }

    @include susy-media(desktopSuperwide) {
      height: 650px;
      width: 930px;
      align-items: flex-start;
    }

    @media(min-height:1000px) and (min-width: 1600px) {
      margin-top: 44px;
      width: 1105px;
      height: 805px;
    }

    @include susy-media(mobileOnly) {
      padding-top: 15px;
      padding-bottom: 20px;
    }

    .box-product {
      @include susy-media(desktopWide) {
        height: 480px;
        overflow: auto;
      }

      @media(min-height:768px) and (min-width: 1280px) {
        height: 540px;
        overflow: auto;
      }

      @include susy-media(desktopSuperwide) {
        height: 642px;
        overflow: auto;
      }

      @media(min-height:1000px) and (min-width: 1600px) {
        height: 780px;
      }
    }
  }
}

.sjc {
  .content-inner {
    @include susy-media(desktopSuperwide) {
      width: 1132px;
      max-width: inherit;
    }
  }
}

.commissions,
.collaborations {
  .content-inner {
    @include susy-media(desktopSuperwide) {
      width: 850px;
      max-width: inherit;
      height: 640px;
    }

    @include susy-media(mobileOnly) {
      padding-top: 20px;
    }

    @media(min-height:1000px) and (min-width: 1600px) {
      width: 875px;
      max-width: inherit;
      height: 678px;
    }
  }
}

.object-specific .content-inner {
  @include susy-media(tablet) {
    margin-top: 30px;
  }

  @include susy-media(desktopSuperwide) {
    width: 1120px;
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  @include susy-media(mobileOnly) {
    padding-top: 15px;

    .object-specific {
      min-height: 700px;
      margin-bottom: 0;
    }
  }
}

.mobile-overflow {
  @include susy-media(mobileOnly) {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
