<li class="nav-main-item {{item.classes | join(' ')}} {% if item.current %} active{% endif %}{% if item.get_children %} expanded-menu{% endif %}">
  <a class="nav-main-link" href="{{item.get_link}}">
	  <span class="nav-main-link-en">{{item.title}}</span>
    {% if item.multi_language_title %}
    <span class="hidden-on-desktop nav-main-hyphen"> - </span>
    {% endif %}
	  <span class="nav-main-link-multilan">{{ item.multi_language_title }}</span>
	</a>
  {% if item.get_children %}
    <span class="expanded-menu__button hide-on-desktop js-toggle-menu-expanded"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
    {% include 'sub-menu.twig' with {'child': item.get_children} %}
  {% endif %}
</li>
