<div class="box-product">
  <div class="box-product__item">
    <div class="box-product__image"><img src="../../images/product1.jpg"></div>
    <div class="box-product__title">Bob</div>
    <div class="box-product__price"><span>$990 AUD</span><a href="/pattern-lab/public/patterns/01-components-landing-objects-specific/01-components-landing-objects-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="../../images/product2.jpg"></div>
    <div class="box-product__title">Helen</div>
    <div class="box-product__price"><span>$990 AUD</span><a href="/pattern-lab/public/patterns/01-components-landing-objects-specific/01-components-landing-objects-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="../../images/product3.jpg"></div>
    <div class="box-product__title">Laura</div>
    <div class="box-product__price"><span>$990 AUD</span><a href="/pattern-lab/public/patterns/01-components-landing-objects-specific/01-components-landing-objects-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="../../images/product4.jpg"></div>
    <div class="box-product__title">Chippy</div>
    <div class="box-product__price"><span>$990 AUD</span><a href="/pattern-lab/public/patterns/01-components-landing-objects-specific/01-components-landing-objects-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="../../images/product5.jpg"></div>
    <div class="box-product__title">Duke</div>
    <div class="box-product__price"><span>$480 AUD</span><a href="/pattern-lab/public/patterns/01-components-landing-objects-specific/01-components-landing-objects-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="../../images/product6.jpg"></div>
    <div class="box-product__title">Bolboa</div>
    <div class="box-product__price"><span>$480 AUD</span><a href="/pattern-lab/public/patterns/01-components-landing-objects-specific/01-components-landing-objects-specific.html">Read More</a></div>
  </div>
</div>
