{% extends 'layout.twig' %}

{% block page_transition %}
  {% set site_logo  = 'denHolm' %}
  {% set site_class = 'denholm-logo' %}
  {% set site_data  = 'denholm' %}

  <div class="page-transition__logo"><a href="#" class="js-change-page js-logo is-active {{ site_class }}" data-page-name="{{ site_data }}" data-page-trans="slide-in-from-bottom">{{ site_logo }}</a></div>
{% endblock %}

{% block transition_content %}
  {{context}}
{% endblock %}
