{% extends 'layout.twig' %}

{% block transition_content %}
  {% for post in posts %}
    {{ function('flexible_content', 'group_component') }}
  {% endfor %}
{% endblock %}

{% block landing %}
  {% for post in posts %}
    {{ function('flexible_content', 'group_components') }}
  {% endfor %}

  <div class="next-page">
  	<div class="arrow-btn arrow-left">Prev</div>
  	<div class="arrow-btn arrow-right">Next</div>
  </div>
{% endblock %}
